<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to( root_path, :class => "navbar-brand" ) do %>
        <div class="title-icon"></div>
        <div class="title-text">
          <p class='pc'><%= t( 'title' ) %></p>
          <p class='sp'><%= t( 'title-short' ) %></p>
        </div>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <% #検索バー %>
      <form class="navbar-form navbar-left searchForm" action="/post/list_by_search" method="get">
        <div class="searchForm_queryWrapper">
          <input class="form-control searchForm_query" placeholder="キーワードを入力" autocomplete="off" name="q" value="<%= @keywords %>" style="width: 220px;">
          <div class="searchForm_wiseSearchButton" style="visibility: visible;">
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
      </form>

      <% #カテゴリ %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">カテゴリ <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% @recommend_tags.each do | tag | %>
              <li><%= link_to( tag['name'], post_list_by_tag_path( i: tag['id'] ) ) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
